server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/db_sxu?useUnicode=true&useSSL=false&characterEncoding=UTF-8&serverTimezone=GMT%2B8
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 123456
